body{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: -webkit-linear-gradient(to left, #780206, #061161); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #780206, #061161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Courier New', Courier, monospace;
}



.displayPick{

    height: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 500px;
    min-height: 450px;
}

.playerPick, .computerPick{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 20px solid blue;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px black;
    background-color: rgba(255, 255, 255, .5)
}

.computerPick{
    border: 20px solid red;
}

.btn{
    background-color: transparent;
    border: none;
    outline: none;
}
.btn:hover{
    color: rgb(238, 238, 43);
    transition: .1s linear;
    transform: scale(1.1);
    cursor: pointer;

}

.btn-box{
    bottom: 100px;
    left: 0;
    right: 0;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.hand{
    font-size: 100px;
}

.pick, .rand{
    font-size: 150px;
}

.left, .right{
    gap: 10px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.left p, .right p{
    font-size: 25px;
    padding: 0;
    color: black;
    font-weight: 700;
    text-align: center;
}

.displayPick p{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.board{
    text-align: center;
    display: flex;
    font-weight: 700;
    flex-direction: column;
    min-width: 250px;
}

.boardbg{
    padding: 10px 10px;
}


.boardbg > .rule{
    text-align: center;
    font-size: 25px;
}

.scoreboard
{
    background-color: (0, 0, 0, .5);
    display: flex;
}

.pScore, .cScore{
    font-size: 20px;
    width: 50%;
}

.score{
    font-size: 40px;
}

img{
    width: 50px;

}

footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    color: white;
    font-size: 18px;
}

.fa-brands{
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: rgba(255, 255, 255, .5);
}